<main>
  <h1 class="visually-hidden">Headers examples</h1>

  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Syeds online learning</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="https://aeba7a7e-b201-494f-b5cb-f37e132524bd-00-31efspbaknrpp.pike.replit.dev/home" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a target="_blank" href="https://aeba7a7e-b201-494f-b5cb-f37e132524bd-00-31efspbaknrpp.pike.replit.dev/courses" class="nav-link">courses</a></li>
        <li class="nav-item"><a target="_blank" href="https://aeba7a7e-b201-494f-b5cb-f37e132524bd-00-31efspbaknrpp.pike.replit.dev/status" class="nav-link">status</a></li>
        <li class="nav-item"><a target="_blank" href="https://aeba7a7e-b201-494f-b5cb-f37e132524bd-00-31efspbaknrpp.pike.replit.dev/help" class="nav-link">help</a></li>
        <li class="nav-item"><a target="_blank" href="https://aeba7a7e-b201-494f-b5cb-f37e132524bd-00-31efspbaknrpp.pike.replit.dev/about us" class="nav-link">About us</a></li>
      </ul>
    </header>
  </div>

  <div class="b-example-divider"></div>

  