<div class="border border row" style="margin-bottom:16px;padding-bottom:4px;">
  <div class="col-9">
    <h4 
      style="color:rgb(120,120,120); margin-bottom:4px; "> 
      {{ course['title'] }} 
    </h4>
    <div>
      <b> 
        Cost:{{ course['cost'] }} 
      </b>
    </div>
    <div>
      <b> 
        MAX_HOURS:{{ course['Maxhours'] }} 
      </b>
    </div>
  </div>
  <div class="col-3">
    <a href ="mailto:syedsaqeeb66@gmail.com?subject=Application for  {{ course['title'] }}" type="button" class="btn btn-outline-primary float-right allign-middle">apply</a>
  </div>
</div>